.event_cards {
    width: 80%;
    min-width: 26rem;
    margin: auto;
}

.event_pic {
    width: auto;
    height: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.date_picker {
    width: 80%;
    min-width: 26rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
