<!-- Falls man die Daten angezeigt haben möchte
<table class="table table-striped">
        <thead>
                <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Body</th>
                        <th>User</th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor="let event of events">
                        <td>{{ event._id }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.start }}</td>
                        <td>{{ event.end }}</td>
                        <td>{{ event.body }}</td>
                        <td>{{ event.user }}</td>
                </tr>
        </tbody>
</table>
-->

<!-- Nur als Dummy Element für Test-Zwecke! Gern nach belieben rauslöschen -->
<div class="event_cards">
<nb-flip-card>
        <nb-card-front>
                <nb-card status="primary" size="tiny">
                        <nb-card-header>TITEL VON EVENT</nb-card-header>
                        <nb-card-body>
                                Hier kommt ein großes Bild rein!
                                A nebula is an interstellar cloud of dust, hydrogen,
                                helium and other ionized gases.
                                Originally, nebula was a name for
                                any diffuse astronomical object,
                                including galaxies beyond the Milky Way.
                        </nb-card-body>
                        <nb-card-footer>Start: 01.01.1001 um 01:01 <br> Ende: 10.10.0110 um 10:10</nb-card-footer>
                </nb-card>
        </nb-card-front>
        <nb-card-back>
                <nb-card accent="primary" size="tiny">
                        <nb-card-header>TITEL VON EVENT</nb-card-header>
                        <nb-card-body>
                                Kurzbeschreibung:<br>
                                BESCHREIBUNG VON EVENT
                        </nb-card-body>
                        <nb-card-footer>Hier kommen 2 Buttons rein: Edit & Delete</nb-card-footer>
                </nb-card>
        </nb-card-back>
</nb-flip-card>
</div>
<!-- Ende Dummy -->

<div class="event_cards" *ngFor="let event of events">
<nb-flip-card>
        <nb-card-front>
                <nb-card status="primary" size="tiny">
                        <nb-card-header>{{ event.title }}</nb-card-header>
                        <nb-card-body>
                                Hier kommt ein großes Bild rein! <br>
                                A nebula is an interstellar cloud of dust, hydrogen,
                                helium and other ionized gases.
                                Originally, nebula was a name for
                                any diffuse astronomical object,
                                including galaxies beyond the Milky Way.
                        </nb-card-body>
                        <nb-card-footer>Start: {{ event.start }} <br> End: {{ event.end }}</nb-card-footer>
                </nb-card>
        </nb-card-front>
        <nb-card-back>
                <nb-card accent="primary" size="tiny">
                        <nb-card-header>{{ event.title }}</nb-card-header>
                        <nb-card-body>
                                Kurzbeschreibung: <br>
                                {{ event.body }}
                        </nb-card-body>
                        <nb-card-footer>Hier kommen 2 Buttons rein mit ids von Event: Edit & Delete</nb-card-footer>
                </nb-card>
        </nb-card-back>
</nb-flip-card>
</div>
