<nb-layout-header fixed>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <h2 *ngIf="!user_loggedIn">{{title}}</h2>
    <button nbButton 
        *ngIf="user_loggedIn"
        shape="semi-round" 
        (click)="logout_user()"
        >
        <nb-icon icon="log-out-outline"></nb-icon>
    Logout</button>
    <nb-user
        *ngIf="user_loggedIn"
        shape="semi-round"
        size="medium"
        [name]="user?.fullName"
        [title]="user?.email"
        color="#a16eff"
        style="margin-left: auto; margin-right: 0;">
    </nb-user>
</nb-layout-header>
