nb-card {
    margin: auto;
    min-width: 28rem;
    max-width: 80%;
    min-height: 24rem;
}

.error-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 22rem;
    max-width: 45%;
}