<nb-card size="small">
    <nb-card-body>
        <nb-card-header><h4 style="text-align: center;">Add new Event</h4></nb-card-header>
        <br><br>
        <form #f="ngForm" (ngSubmit)="uploadEvent(f)" novalidate>
            <input nbInput fullWidth name="title" ngModel required shape="semi-round" placeholder="Title">
            <br><br>
            Start:
            <input nbInput type="date" name="start_date" ngModel shape="semi-round" required onchange="setMinimums()">
            <input nbInput type="time" name="start_time" ngModel shape="semi-round" required>
            <br><br>
            End:
            <input nbInput type="date" name="end_date" ngModel shape="semi-round" required onchange="setMinimums()">
            <input nbInput type="time" name="end_time" ngModel shape="semi-round" required>
            <br><br>
            <textarea nbInput fullWidth name="body" ngModel shape="semi-round" placeholder="A small description about the event..."></textarea>
            <br><br>
            Image:
            <input nbInput type="file" name="img" ngModel shape="semi-round" onchange="showImageOnCanvas()" accept="image/png, image/jpeg" >
            <button nbButton shape="semi-round" onclick="deleteImageUpload()"><nb-icon icon="trash-outline"></nb-icon>Delete upload</button>
            <br><canvas *ngIf="isVisible" id="canvas" style="width: 100%;"></canvas>
            <br><br>
            Category:
            <nb-select shape="semi-round" name="cat" ngModel placeholder="Select category" [(selected)]="selectedCategory">
                <nb-option value="">(no category)</nb-option>
                <nb-option value="cat.type" *ngFor="let cat of categories">{{cat.type}}</nb-option>
            </nb-select>
            <br><br>
            Status:
            <nb-select shape="semi-round" name="stat" ngModel placeholder="Select status" [(selected)]="selectedStatus">
                <nb-option value="">(no status)</nb-option>
                <nb-option value="g">Green</nb-option>
                <nb-option value="y">Yellow</nb-option>
                <nb-option value="r">Red</nb-option>
            </nb-select>

            <br><br><br><br>
            <button nbButton 
                    shape="semi-round"
                    fullWidth>
                    <nb-icon icon="arrow-right-outline"></nb-icon>
                    Submit
            </button>
        </form>
    </nb-card-body>
</nb-card>